* {
    scroll-behavior: smooth;
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/* kleurenpalette */
:root {
    --main-color-green: #4e7141;
    --main-color-beige: #f9e9c2;
    background-image: url(./assets/plaatje.jpg);
    padding: 340px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    text-align: center;
    color: var(--text-color-white);
    font-family: var(--header-font);
    font-weight: 500;
    max-width: 110%;
    /* lijst van nav bar */
    ul {
        display: flex;
        justify-content: right;
        gap: 50px;
        position: absolute;
        top: 4rem;
        right: 6rem;
        font-size: 1.5rem;
        ;
    }

    /* items in de nav bar */
    li {
        display: inline;
        text-decoration: none;
        text-align: center;
        color: var(--titel);
        font-family: var(--sub-header-font);
    }

    /* instellingen linkjes nav bar */
    a {
        text-decoration: none;
        color: var(--text-color-white);
        cursor: pointer;
    }

    /* instellingen linkjes nav bar on hover */
    a:hover {
        color: var(--card-color-orange);
    }

    /* bieb in bloei logo */
    .logo {
        margin: 0px;
        width: 100px;
        position: absolute;
        left: 2rem;
        top: 2rem;
    }

    /* groene bieb header/titel */
    h1 {
        font-family: 'Poppins-Black', sans-serif;
        font-size: 9rem;
        color: var(--text-color-white);
        font-weight: 900;
        line-height: 1.1em;
    }
}

/* blokje van de bieb */
.bieb-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: var(--main-color-beige);
    color: var(--main-color-green);
    border-radius: 15px;
    max-width: 1600px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    margin-top: -80px;

    /* layout van bieb */
    .content {
        width: 50%;
    }

    /* titel bieb */
    h1 {
        font-size: 5.5em;
        color: var(--main-color-green);
        margin-bottom: 20px;
        font-weight: bold;
    }

    /* tekst in bieb */
    p {
        font-size: 1em;
        line-height: 1.6;
        margin-bottom: 20px;
        padding: 40px;
        color: var(--main-color-green);
    }

    /* plaatje layout */
    .image-container {
        width: 45%;
    }

    /* plaatje instellingen */
    .image-container img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

/* partners blokje */
.partners-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: var(--card-color-green);
    color: var(--main-color-beige);
    border-radius: 15px;
    max-width: 1600px;
    margin: 40px auto;
    font-weight: 400;
    margin-top: -40px;

    /* partners blok instellingen */
    .content {
        width: 50%;
    }

    /* partners titel */
    h1 {
        font-size: 5.5em;
        margin-bottom: 20px;
        font-weight: bold;
    }

    /* partners tekst */
    p {
        font-size: 1em;
        line-height: 1.6;
        margin-bottom: 20px;
        padding: 40px;
    }

    /* logo's grid */
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 60px;
        width: 45%;
        padding: 20px;
    }

    /* logo's instellingen */
    .photo {
        background-color: var(--main-color-beige);
        border-radius: 10px;
        height: 150px;
        /* Plaats hier een achtergrondafbeelding wanneer je een foto toevoegt */
        background-size: cover;
        background-position: center;
    }

    /* logo's on hover */
    .photo:hover {
        opacity: 0.8;
    }
}

/* tekst stukje over samenwerken */
.samenwerken {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: var(--main-color-green);
    border-radius: 15px;
    max-width: 1400px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;

    /* layout samenwerken */
    .content {
        width: 80%;
    }

    /* titel kopje samenwerken */
    h2 {
        font-size: 5em;
        color: var(--card-color-green);
        margin-bottom: 20px;
    }

    /* Oranje kleur voor het vraagteken */
    .highlight {
        color: var(--card-color-orange);
        font-size: 4rem;
    }

    /* tekst samenwerken */
    p {
        font-size: 1em;
        line-height: 1.6;
        margin-bottom: 20px;
        color: var(--card-color-green);
        padding: 20px;
    }

    /* Sterke tekstkleur 'klik hier' */
    p strong {
        color: var(--main-color-green);
    }

    /* foto */
    .shape-container {
        width: 25%;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
    }

    /* foto */
    .shape-container img {
        width: 200px;
        height: auto;
        object-fit: cover;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

/* footer */
.footer {
    background-color: var(--main-color-beige);
    /* licht beige achtergrond */
    padding: 1rem;
    position: relative;

    /* instellingen 3 stukjes tekst */
    .footer-container {
        display: flex;
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* instellingen tekst rij */
    .footer-column {
        flex: 1;
        text-align: center;
    }

    /* titel kopjes footer */
    .footer-column h3 {
        font-size: 1.5rem;
        color: var(--main-color-green);
        margin-bottom: 20px;
        font-weight: bold;
    }

    /* tekst in footer */
    .footer-column p,
    .footer-column a {
        font-size: 1rem;
        color: var(--main-color-green);
        margin-bottom: 1rem;
        text-decoration: none;
    }

    /* rijtjes in footer */
    .footer-column ul {
        list-style-type: none;
    }

    /* layout footer tekst */
    .footer-column ul li {
        margin-bottom: 1rem;
    }

    /* linkjes on hover */
    .footer-column ul li a:hover {
        text-decoration: underline;
        color: var(--main-color-orange);
    }
}